   <div th:fragment="galleryName">

    <form method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
        </form>
        
    <form th:action="@{/galleryName}" th:object="${galleryData}" method="post" >
        <label for="gallery_name">Gallery Name: </label>
<input type="text" th:field="*{gallery_name}" id="gn" onchange="storeValues()"/>
<br/>

        <input type="number" name="size_of_gallery" th:field="*{size_of_gallery}" id="size_of_gallery">
        <input type="submit" value="Create new gallery">
    </form>

   </div>
