<div th:fragment="listFragment">
    <ul>
        <li th:each="data : ${galleryData}">
         <span th:text="${data.username}"></span><br>
          <span th:text="${data.gallery_name}"></span></li>
      </ul>

   </div>

   <div th:fragment="listOfAllGaleriesFragment">
    <ol>
        <li th:each="data : ${galleryData}">
         <span th:text="${data.username}"></span>
          <span th:id="${data.gallery_name}" th:text="${data.gallery_name}" class="txt" onclick="store_values(this.id)"></span></li>
      </ol>

   </div>

   <div th:fragment="showImages">
    <ol>
        <li th:each="image : ${images}">
            <img th:src="${image.relative_link}" th:alt="${image.file_name}"> <br>

          <span th:text="${image.file_name}"></span> <br>
          <span th:text="${image.local_path}"></span> <br>
          <span th:text="${image.url}"></span> <br>
          <span th:text="${image.relative_link}"></span>
        </li>
      </ol>

   </div>
