<!DOCTYPE html>
<html lang="en" xmlns:th="http:/ /www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Picture Gallery - create new</title>
</head>
<body>
    <form th:action="@{/galleryName}" th:object="${galleryData}" method="post">
        <label for="gallery_name">Gallery Name: </label>
<input type="text" th:field="*{gallery_name}"/>
<br/>
        <input type="number" name="size_of_gallery" th:field="*{size_of_gallery}" id="size_of_gallery">
        <input type="submit" value="Create new gallery">
    </form>
</body>
</html>