<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 lang="en">
 <head>
 <title>Dynamic picture gallery</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">

 </head>
 <body>

 
  <div class="container">
    <h1>Register</h1>
<form method="POST" th:action="@{/register}" id="registerForm">
<label for="username">Username: </label>
<input type="text" name="username"/><br/>
<label for="password">Password: </label>
<input type="password" name="password"/><br/>
<label for="confirm">Confirm password: </label>
<input type="password" name="confirm"/><br/>

<label for="email">Email: </label>
<input type="email" name="email"/>
<input type="submit" value="Register"/>
</form>



  </div>
        


  


 
 
 
 </body>
</html>