<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 lang="en">
 <head th:replace="~{fragments/header :: header}">
</head>
 <body>
	<div th:replace="~{fragments/navigation :: navigation}">
    </div>
 
  <div class="container">
    <form method="POST" th:action="@{/logout}">
		<input type="submit" value="Logout"/>
		</form>

 <div id="rw" class="row mt-4">
 <div class="col mt-5">
 

 <div class="col-md-6">
 	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<form method="POST"  th:action="@{/uploadFile}" enctype="multipart/form-data">
                     <label for="upload" class="form-label">File to upload:</label>
                      <div class="input-group mb-3">
               <input type="file" name="file" id="upload" class="form-control" />
         
             </div>
	   <div class="col-12">
                <input type="submit" value="Upload" class="btn btn-primary">
            </div>
		</form>
	</div>

<!--
	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div>           
           -->  
 </div>
 </div>
 </div>
  </div>
        


  


 
 
 
 </body>
</html>